
@{
    ViewBag.Title = "Valid";
}

<div class="container">
    <div class="row">
        <h1>
            Welcome to the Dashboard
            <br /> <br />
            <a href="@Url.Action("StaffList","Staff")" class="bnt btn-primary">Employee</a> <br /><br /> <hr />
            <a href="@Url.Action("HappyClients","HappyClient")" class="btn btn-primary">Happy CLients</a> <hr />
            <br />
            <a href="@Url.Action("serviceList","Services")" class="btn btn-primary">Services</a>
            <br /><hr />
            <a href="@Url.Action("viewQuery","Home")" class="btn btn-primary">Query</a><hr />



            <a href="@Url.Action("Index","Home")">Back to Index </a>
        </h1>

    </div>

</div>

